

.contenedorBio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 293px 450px 50px;
    grid-template-areas: 
    "headerBio"
    "mainBio"
    "footerBio";
    justify-content: center;
    .headerBio {
        grid-area: headerBio;
    }
    .mainBio {
        grid-area:mainBio;
    }
    .footerBio {
        grid-area: footerBio;
    }
}

.mainBio {
    grid-area:mainBio;
    text-align: justify;
    color: $colorTerciario;
    font-family: $fuentePrincipal;
    .bio {
        background-image: url("media/fondo.jpg");
        background-position: center;
        background-size: cover;
        span {
            font-weight: bold;
        }
    }
}



