

.contenedorBio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 293px 450px 50px;
    grid-template-areas: 
    "headerBio"
    "mainBio"
    "footerBio";
    justify-content: center;
    .headerBio {
        grid-area: headerBio;
    }
    .mainBio {
        grid-area:mainBio;
    }
    .footerBio {
        grid-area: footerBio;
    }
}

.mainBio {
    grid-area:mainBio;
    padding: 20px;
    text-align: justify;
    color: $colorTerciario;
    font-family: $fuentePrincipal;
    $parrafo: (
    20px: 20px,
    justificado: justify,
    color: $colorTerciario,
    fuente: $fuentePrincipal,
    tamaño: 1rem,
    );
    p {
        padding: map-get($parrafo, 20px);
        text-align: map-get($parrafo, justificado);
        color: map-get($parrafo, color);
        font-family: map-get($parrafo, fuente);
        font-size: map-get($parrafo, tamaño);
    }
    .bio {
        background-image: url("media/fondo.jpg");
        background-position: center;
        background-size: cover;
    }
}


