.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 293px 1100px 50px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    justify-content: center;
    .header {
        grid-area: header;
    }
    .main {
        grid-area:main;
    }
    .footer {
        grid-area: footer;
    }
}

section {
    display: grid;
    grid-template-columns: 560px;
    justify-content: center;
    background-image: url("media/logo.jpg");
    background-position: center;
    background-size: cover;
    iframe {
        width: 560px; 
        height: 315px;
        border: 0;
        padding: 10px 0px;
    } 
}



